{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Login</h2>
          <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username" required />
            <input type="text" name="phone" placeholder="Enter phone Number" required />
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
